* {
  padding: 0;
  margin: 0;
}
body {
  max-width: 400px;
  padding: 10px;

  margin: 0 auto;
  background-color: rgba(85, 85, 231, 0.5);
}
img {
  width: 40%;
  height: 18vh;

  margin: 0 auto;
  border-radius: 50%;
}
.userForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
#input {
  padding: 10px;
  margin-bottom: 15px;
}
button {
  margin-top: 15px;
}
.select {
  border: 1px solid black;
}
.infoImg {
  width: 20%;
  height: 7vh;

  margin: 0 auto;
  border-radius: 50%;
}

.user {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

.userButton {
  width: 10%;
  height: 5vh;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}
.userSingle {
  display: flex;
  padding: 10px;

  width: 100%;
  box-sizing: border-box;
}
.userBox {
  width: 100%;

  padding: 10px;
  box-sizing: border-box;
}
hr {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgba(95, 140, 177, 0.548);
  }
  body {
    max-width: 400px;
    padding: 10px;

    margin: 0 auto;
    background-color: rgba(85, 85, 231, 0.5);
  }
  img {
    width: 40%;
    height: 18vh;

    margin: 0 auto;
    border-radius: 50%;
  }
  .userForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }
  #input {
    padding: 10px;
    margin-bottom: 15px;
  }
  button {
    margin-top: 15px;
  }
  .select {
    border: 1px solid black;
  }
  .infoImg {
    width: 20%;
    height: 7vh;

    margin: 0 auto;
    border-radius: 50%;
  }

  .user {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
  }

  .userButton {
    width: 10%;
    height: 5vh;
    border-radius: 50%;
    border: none;

    cursor: pointer;
  }
  .userSingle {
    display: flex;
    padding: 10px;

    width: 100%;
    box-sizing: border-box;
  }
  .userBox {
    width: 100%;

    padding: 10px;
    box-sizing: border-box;
  }
  hr {
    margin: 20px;
  }
}
